{{>layouts/header}}
<form class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col" colspan="3">제목</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#articleList}}
            <tr>
                <th scope="row">{{id}}</th>
                <td colspan="3"><a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/board/{{id}}">{{title}}</a></td>
                <td>{{name}}</td>
            </tr>
        {{/articleList}}
        </tbody>
    </table>

    <a href="/board/new" class="btn btn-primary float-end">글쓰기</a>

</form>

{{>layouts/footer}}