{{>layouts/header}}
<form class="container" action="/board/create" method="post">
    <div class="mt-5">
        <h2>글쓰기</h2>
        <hr>
    </div>
    <div class="mb-3">
        <label for="titleInput" class="form-label">제목</label>
        <input type="text" class="form-control" name="title" id="titleInput">
    </div>
    <div class="mb-3">
        <label for="userNameInput" class="form-label">작성자</label>
        <input type="text" class="form-control" name="name" id="userNameInput">
    </div>
    <div class="mb-3">
        <label for="contentInput" class="form-label">내용</label>
        <textarea class="form-control" rows="5" name="content" id="contentInput"></textarea>
    </div>
<!--    TODO: submit -> 등록-->
    <button class="btn btn-primary float-end" type="submit">Submit</button>
</form>
{{>layouts/footer}}