{{>layouts/header}}
<form class="container" action="/board/create" method="post">
    <div class="mt-5">
        <h2>글쓰기</h2>
        <hr>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">제목</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">내용</label>
        <textarea class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" rows="5">
    </textarea>
    </div>
    <button class="btn btn-primary float-end" type="submit">Submit</button>
</form>
{{>layouts/footer}}