{{>layouts/header}}
{{#board}}
    <form class="container">
        <div class="mt-5">
            <h2>{{title}}</h2>
            <hr>
        </div>
        <div class="mb-3">
            <p><b>작성자</b>: {{username}}</p>
        </div>
        <div class="mb-3">
            <p>{{{content}}}</p>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/board/{{id}}/edit" class="btn btn-success">수정</a>
            <a href="/board/{{id}}/delete" class="btn btn-danger">삭제</a>
            <a href="/board" class="btn btn-primary me-md-2">목록</a>
        </div>

    </form>

{{/board}}

{{>comments/_comments}}

{{>layouts/footer}}