{{>layouts/header}}
{{#board}}
    <form class="container">
        <div class="mt-5">
            <h2>{{title}}</h2>
            <hr>
        </div>
        <div class="mb-3">
            <p><b>작성자</b>: {{name}}</p>
        </div>
        <div class="mb-3">
            <p>{{content}}</p>
        </div>
        <a href="/board" class="btn btn-primary float-end">목록</a>

    </form>

{{/board}}

{{>layouts/footer}}