<form class="container mt-5">
<div class="row d-flex justify-content-center">

        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">
<!--                새 댓글 작성하기 -->
                {{>comments/_new}}
<!--                댓글 목록 보기-->
                {{>comments/_list}}

            </div>
        </div>
</div>
</form>