<div class="form-outline mb-6">

    <input type="text" id="new-comment-nickname" class="form-control mb-1" placeholder="닉네임" />
    <textarea type="text" class="form-control" placeholder="내용을 입력하세요" id="new-comment-body" rows="3"></textarea>
    {{#board}}
        <input type="hidden" id="new-comment-post-id" value="{{id}}">
    {{/board}}
    <div class="form-group">
    <button type="button" class="btn float-end" id="comment-create-btn">등록</button>
    </div>

</div>

<script>
{
// 댓글 생성 버튼 변수화
const commentCreateBtn = document.querySelector("#comment-create-btn");
// 댓글 클릭 이벤트 감지
commentCreateBtn.addEventListener("click", function() {
// 새 댓글 객체 생성
const comment = {
    // 새 댓글의 닉네임
    nickname: document.querySelector("#new-comment-nickname").value,
    // 새 댓글의 본문
    body: document.querySelector("#new-comment-body").value,
    // 부모 게시글의 id
    postId: document.querySelector("#new-comment-post-id").value
};
console.log(comment);


});
}
</script>