<div class="form-outline mb-6">

    <input type="text" id="new-comment-nickname" class="form-control mb-1" placeholder="닉네임" />
    <textarea type="text" class="form-control" placeholder="내용을 입력하세요" id="new-comment-body" rows="3"></textarea>
    {{#post}}
        <input type="hidden" id="new-comment-post-id" value="{{id}}">
    {{/post}}
    <div class="form-group">
    <button type="button" class="btn float-end" id="comment-create-btn">등록</button>
    </div>

</div>

<script>
    {
    // 댓글 생성 버튼 변수화
    const commentCreateBtn = document.querySelector("#comment-create-btn");
    // 댓글 클릭 이벤트 감지
    commentCreateBtn.addEventListener("click", function() {
        console.log("등록 버튼을 클릭했습니다.");
    });
    }
</script>